dot.emacs.d/backups
dot.emacs.d/auto-save-list
dot.emacs.d/bookmarks
dot.emacs.d/el-get
dot.emacs.d/eshell
dot.emacs.d/places
dot.emacs.d/tramp
dot.emacs.d/swank
dot.emacs.d/snippets
dot.emacs.d/url
dot.emacs.d/*.proj
dot.emacs.d/ac-comphist.dat
dot.emacs.d/.smex-items
dot.emacs.d/.mc-lists.el
dot.emacs.d/.DS_Store